numpy==1.26.4
pandas==2.2.2
scipy==1.13.1

biopython==1.83

mdtraj==1.9.9
biotite==0.40.0

scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2

jupyterlab==4.1.8
ipykernel==6.29.4

requests==2.31.0
tqdm==4.66.4
python-dotenv==1.0.1